* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "hurrican";
  src: url(./fonts/Hurricane-Regular.ttf);
}
@font-face {
  font-family: "pallet";
  src: url(./fonts/PaletteMosaic-Regular.ttf);
}
@font-face {
  font-family: "palle";
  src: url(./fonts/RobotoMono-VariableFont_wght.ttf);
}

body {
  font-family: "palle", "sans-sarif";
  animation: fading 1s ease-in-out;
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(2.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(3.5rem + 1vw);
  --text: calc(1rem + 1vw);
  --big: calc(2.5rem + 1vw);
  --main-color: #022b3a;
  --second-color: #1f7a8c;
  --third-color: #bfdbf7;
}

a,
li,
ul,
label,
input,
p {
  font-size: var(--text);
  list-style: none;
}

h1 {
  font-size: var(--header1);
  font-family: "hurrican", "sans-sarif";
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}
a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* nav section */

.main-head {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  z-index: 2;
  position: relative;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  min-height: 10vh;
}

#logo {
  flex: 1 1 20rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;

  flex: 1 1 20rem;
}

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.hero-left {
  flex: 4.5 1 40rem;
  text-align: center;
  object-fit: cover;
}

.hero-left p {
  padding: 5rem 10rem;
}
.hero-left a {
  padding: 2rem 8rem;
  border: 2px solid black;
  margin-bottom: 2rem;
}
.hero-right {
  flex: 1.14 1 40rem;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--second-color);
}

.cam {
  position: absolute;
  width: 15rem;
  right: 5rem;
  top: 25rem;
  /* animation: cam 4s ease-in-out infinite; */
}

.about {
  min-height: 100vh;
  flex-wrap: wrap;
  display: flex;
  flex: 1 1 40rem;
  position: relative;
}
.left-side img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.left-side {
  flex: 1 1 40rem;
}
.left-side h5 {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
}
.about-right {
  flex: 2 1 40rem;
  text-align: center;
  padding: 2rem 5rem;
  background-color: var(--second-color);
}
.about-right h2 {
  color: white;
  margin-top: 10rem;
  padding: 5rem 0rem;
}
.about-right p {
  padding: 2rem;
}

.gallery {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

.gallery-1 {
  grid-column: 1/3;
}
.gallery-2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cam {
  from {
    transform: translateX(00%) rotateZ(0deg);
  }
  to {
    transform: translateX(10%) rotateZ(180deg);
  }
}

@media screen and (max-width: 842px) {
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--second-color);
    margin: 0.5rem 0rem;
    display: block;
  }
  .nav-links {
    background: var(--third-color);
  }

  .cam {
    position: absolute;
    width: 13rem;
    right: 10rem;
    top: 45rem;
  }
}
