* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a,
li,
ul,
label,
input,
p {
  font-size: $text;
  list-style: none;
}

h1 {
  font-size: $header1;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}
a {
  text-decoration: none;
  color: $grey;
}
