* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a,
li,
ul,
label,
input,
p {
  font-size: 2.5rem;
  list-style: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
}

.intro {
  width: 90%;
  margin: 0 0 0 auto;
  min-height: 90vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#23a0a0), to(#ec010144));
  background-image: linear-gradient(left, #23a0a0, #ec010144);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}

.intro h3 {
  font-size: 6rem;
  padding: 3rem 0;
}

.intro p {
  color: #2c2c2c;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.intro a {
  margin-right: 2rem;
}

.active {
  color: white;
  background-color: #2c2c2c;
  border-radius: 15px;
  padding: 1rem 2rem;
}

#animate-1 {
  animation: hands 1.5s ease infinite alternate-reverse;
}

#animate2 {
  -webkit-animation: rotat 1.5s infinite;
          animation: rotat 1.5s infinite;
}

.projects {
  width: 90%;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20rem;
}

@-webkit-keyframes hands {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes hands {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes rotat {
  from {
    -webkit-transform: translateZ(0deg);
            transform: translateZ(0deg);
  }
  to {
    -webkit-transform: translateZ(360deg);
            transform: translateZ(360deg);
  }
}

@keyframes rotat {
  from {
    -webkit-transform: translateZ(0deg);
            transform: translateZ(0deg);
  }
  to {
    -webkit-transform: translateZ(360deg);
            transform: translateZ(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */